.container {
  height: 100vh;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;

  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.container::-webkit-scrollbar {
  display: none;
}

.container > div {
  scroll-snap-align: center;
}